@{
    Layout = "_StoreLayout";
}
<div>
    <iframe allow="clipboard-read; clipboard-write" frameborder="0" height="700px" scrolling="no" src="https://developers.google.com/maps/documentation/utils/geocoder?hl=vi" width="100%">
    </iframe>

</div>
