@{
    Layout = "_StoreLayout";
}
<style>
    h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    p{
      text-align: justify
    }
    input{
        border: 1px solid #ff5b6a
    }
  
</style>
<h2>THÔNG TIN NHƯỢNG QUYỀN</h2>
<div class="row">
  <div class="col-6">
    <img src="/img/franchise-1.jpg" width="100%"/>
        <p>Lotteria có mặt tại thị trường Việt Nam từ năm 1998 và cho đến nay đang là một
          trong những thương hiệu dẫn đầu ngành công nghiệp ăn uống quốc nội với hơn 210 nhà hàng tại hơn 30 tỉnh/thành trên cả nước.</p>
        <p>
            Thị trường Việt Nam được đánh giá là một trong những thị trường có tiềm năng lớn trong việc phát triển ngành F&B. Với mong muốn phát triển bền vững và củng cố vị thế hàng đầu của mình ở thị trường sôi động này, từ tháng 10.2014, Lotteria bắt đầu nhượng quyền thương hiệu để hợp tác cùng phát triển với các đối tác trên toàn quốc.
        </p>
        <p>
            Nếu quý anh/chị có nhu cầu tham gia nhượng quyền thương hiệu Lotteria, quý anh/chị có thể để lại thông tin ngay bên cạnh hoặc liên hệ qua <a href="tel:1900636357"><strong style="color: #ff5b6a;text-decoration: underline;">hotline 1900 636 357</strong></a> để chúng tôi có thể chủ động liên hệ lại với anh/chị.
        </p>
        <p>Xem thêm brochure giới thiệu về vốn đầu tư và quy trình nhượng quyền của Lotteria tại đây: <a style="text-decoration: none" href="https://goo.gl/NxQOnx" class="text-red" title="https://goo.gl/NxQOnx"><strong style="color: #ff5b6a">https://goo.gl/NxQOnx</strong></a></p>
  </div>
  <div class="col-6">
        <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 10px; padding: 20px">
            <div class="mb-3 row">
                <label for="staticEmail" class="">THÔNG TIN LIÊN HỆ</label>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Họ tên</label>
                <div class="col-sm-9">
                    <input placeholder="Nhập tên của bạn" style="border: 1px solid #ff5b6a" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input placeholder="Nhập email của bạn" style="border: 1px solid #ff5b6a" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Điện thoại</label>
                <div class="col-sm-9">
                    <input placeholder="Nhập số điện thoại của bạn" style="border: 1px solid #ff5b6a" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Địa chỉ</label>
                <div class="col-sm-9">
                    <input placeholder="Nhập địa chỉ của bạn" style="border: 1px solid #ff5b6a" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Khu vực</label>
                <div class="col-sm-9">
                    <select style="border: 1px solid #ff5b6a" class="form-control" id="r_location" name="area">
                        <option value="1028">An Giang</option>
                        <option value="1029">Bà Rịa – Vũng Tàu</option>
                        <option value="1031">Bắc Giang</option>
                        <option value="1030">Bắc Kạn</option>
                        <option value="1032">Bạc Liêu</option>
                        <option value="1033">Bắc Ninh</option>
                        <option value="1034">Bến Tre</option>
                        <option value="1036">Bình Dương</option>
                        <option value="1037">Bình Phước</option>
                        <option value="1038">Bình Thuận</option>
                        <option value="1035">Bình Định</option>
                        <option value="1039">Cà Mau</option>
                        <option value="1026">Cần Thơ</option>
                        <option value="1040">Cao Bằng</option>
                        <option value="1046">Gia Lai</option>
                        <option value="1047">Hà Giang</option>
                        <option value="1048">Hà Nam</option>
                        <option value="1087" selected="">Hà Nội</option>
                        <option value="1049" >Hà Tĩnh</option>
                        <option value="1050">Hải Dương</option>
                        <option value="1027">Hải Phòng</option>
                        <option value="1051">Hậu Giang</option>
                        <option value="1086">Hồ Chí Minh</option>
                        <option value="1052">Hòa Bình</option>
                        <option value="1053">Hưng Yên</option>
                        <option value="1054">Khánh Hòa</option>
                        <option value="1055">Kiên Giang</option>
                        <option value="1056">Kon Tum</option>
                        <option value="1057">Lai Châu</option>
                        <option value="1058">Lâm Đồng</option>
                        <option value="1059">Lạng Sơn</option>
                        <option value="1060">Lào Cai</option>
                        <option value="1061">Long An</option>
                        <option value="1062">Nam Định</option>
                        <option value="1063">Nghệ An</option>
                        <option value="1064">Ninh Bình</option>
                        <option value="1065">Ninh Thuận</option>
                        <option value="1066">Phú Thọ</option>
                        <option value="1067">Phú Yên</option>
                        <option value="1068">Quảng Bình</option>
                        <option value="1069">Quảng Nam</option>
                        <option value="1070">Quảng Ngãi</option>
                        <option value="1071">Quảng Ninh</option>
                        <option value="1072">Quảng Trị</option>
                        <option value="1073">Sóc Trăng</option>
                        <option value="1074">Sơn La</option>
                        <option value="1075">Tây Ninh</option>
                        <option value="1076">Thái Bình</option>
                        <option value="1077">Thái Nguyên</option>
                        <option value="1078">Thanh Hóa</option>
                        <option value="1079">Thừa Thiên Huế</option>
                        <option value="1080">Tiền Giang</option>
                        <option value="1081">Trà Vinh</option>
                        <option value="1082">Tuyên Quang</option>
                        <option value="1083">Vĩnh Long</option>
                        <option value="1084">Vĩnh Phúc</option>
                        <option value="1085">Yên Bái</option>
                        <option value="1025">Đà Nẵng</option>
                        <option value="1041">Đắk Lắk</option>
                        <option value="1042">Đắk Nông</option>
                        <option value="1043">Điện Biên</option>
                        <option value="1044">Đồng Nai</option>
                        <option value="1045">Đồng Tháp</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Lời nhắn</label>
                <div class="col-sm-9">
                    <textarea placeholder="Để lại lời nhắn của bạn tại đây" style="border: 1px solid #ff5b6a" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <button style=" font-size: 20px;border: none; outline: none; height: 40px; width: 160px; background: #ff5b6a; color: white; border-radius: 5px">Gửi ngay</button>
                </div>
            </div>
        </div>
  </div>
</div>

